<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Contact</title>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Daniel Palacios</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/">HOME</a></li>
               <li><a href="/about">ABOUT</a></li>
               <li><a href="/projects">PROJECTS</a></li>
               <li><a href="/skills">SKILLS</a></li>
               <li><a href="/contact">CONTACT</a></li>
            </ul>
         </div>
      </nav><br>
      <div id="contact" class="container"><br>
         <div class="page-header text-center">
            <h2>Contact Me</h2>
         </div>
         <div class="jumbotron text-center">
            <p><small>If you have any questions, please don't hesitate to contact me.</small></p>
            <ul style="list-style-type: none;">
               <li>Email:
                   <a href="#"><i class="fa fa-envelope"></i> danielpalacios530@gmail.com</a>
               </li>
               <li>LinkedIn:
                   <a href="#"><i class="fa fa-linkedin"></i> dpm530</a>
               </li>
               <li>Github:
                   <a href="#"><i class="fa fa-github-square"></i> dpm530</a>
               </li>
            </ul>
         </div>
      </div>
      <footer class="navbar-fixed-bottom footer-section text-center">
         <i class="fa fa-envelope fa-2x"></i>
         <i class="fa fa-linkedin-square fa-2x"></i>
         <i class="fa fa-github fa-2x"></i>
      </footer>
   </body>
</html>
