<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Index</title>
   </head>
   <body id="indexBackground">
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">Daniel Palacios</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/projects">PROJECTS</a></li>
                  <li><a href="/skills">SKILLS</a></li>
                  <li><a href="/contact">CONTACT</a></li>
               </ul>
            </div>
         </div>
      </nav><br>
      <div id="welcome" class="container text-center">
         <h1>Hi, I'm Daniel </h1><br>
         <p><smallI>I Design and Build Full-Stack Web Applications.</smallI></p><br>
         <a href="/projects" role="button" class="btn btn-primary btn-lg">SEE MY WORK</a><br>
      </div><br>

      <!-- <div id="indexPage" class="jumbotron">
         <div id="welcome" class="container text-center">
            <h1>Hi, I'm Daniel</h1><br>
            <p><smallI>I Design and Build Full-Stack Web Applications.</smallI></p><br>
            <a href="/projects" role="button" class="btn btn-primary btn-lg">SEE MY WORK</a>
         </div>
      </div><br> -->
      <!-- <div class="container text-center" style="background-color: #eeeeee;">
         <h3>Recent Projects</h3><br>
         <div class="row">
            <div class="col-sm-3">
               <p>Project 1</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 2</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 3</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 4</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
         </div>
      </div><br> -->

      <footer id="indexFooter" class="navbar-fixed-bottom footer-section text-center">
         <a href="mailto:danielpalacios530@gmail.com" class="fa fa-envelope"></a>
         <a href="https://www.linkedin.com/in/dpm530/" class="fa fa-linkedin"></a>
         <a href="https://github.com/dpm530" class="fa fa-github"></a>
         <a href="https://www.facebook.com/daniel.palacios.75685" class="fa fa-facebook"></a>
      </footer>
   </body>
</html>
