<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Index</title>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Daniel Palacios</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/">HOME</a></li>
               <li><a href="/about">ABOUT ME</a></li>
               <li><a href="/projects">PROJECTS</a></li>
               <li><a href="/skills">SKILLS</a></li>
               <li><a href="/contact">CONTACT ME</a></li>
            </ul>
         </div>
      </nav><br>
      <div class="container">
         <div class="jumbotron">
            <div class="container text-center">
               <h1>Hi, I'm Daniel</h1><br>
               <p>I design and build Full-Stack Web Applications.</p><br>
               <a href="/projects" role="button" class="btn btn-primary btn-lg">SEE MY WORK</a>
            </div>
         </div>
      </div>
      <div class="container-fluid text-center" style="background-color: #eeeeee;">
         <h3>Recent Projects</h3><br>
         <div class="row">
            <div class="col-sm-3">
               <p>Project 1</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 2</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 3</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
            <div class="col-sm-3">
               <p>Project 4</p>
               <img src="https://placehold.it/150x80?text=IMAGE" style= "width:100%" alt="image">
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <p>Footer</p>
      </footer>
   </body>
</html>
