<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Index</title>
   </head>
   <body>
      <div id="indexBackground" class="container-fluid">
         <nav id="indexNavbar" class="navbar navbar-inverse">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><i id="navSymbol" class="fa fa-code"></i> Daniel Palacios</a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="/">HOME</a></li>
                     <li><a href="/about">ABOUT</a></li>
                     <li><a href="/portfolio">PORTFOLIO</a></li>
                     <li><a href="/skills">SKILLS</a></li>
                     <li><a href="/contact">CONTACT</a></li>
                  </ul>
               </div>
            </div>
         </nav><br>
         <div id="welcome" class="container text-center">
            <h1>Hi, I'm Daniel </h1><br>
            <p>Software Developer</p><br>
            <a href="/portfolio" role="button" class="btn btn-primary btn-lg">SEE MY WORK</a><br>
         </div><br>
         <footer id="indexFooter" class="navbar navbar-fixed-bottom text-center">
            <a href="mailto:danielpalacios530@gmail.com" class="fa fa-envelope"></a>
            <a href="https://www.linkedin.com/in/dpm530/" class="fa fa-linkedin"></a>
            <a href="https://github.com/dpm530" class="fa fa-github"></a>
            <!-- <a href="https://www.facebook.com/daniel.palacios.75685" class="fa fa-facebook"></a> -->
         </footer>
      </div>

   </body>
</html>
