<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Portfolio</title>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/"><i id="navSymbol" class="fa fa-code"></i> Daniel Palacios</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/portfolio">PORTFOLIO</a></li>
                  <li><a href="/skills">SKILLS</a></li>
                  <li><a href="/contact">CONTACT</a></li>
               </ul>
            </div>
         </div>
      </nav>

      <div id="portfoliojumbotron1" class="jumbotron">

      </div>

      <!-- Freelance Projects -->
      <div id="portfolio" class="container-fluid">
         <div class="page-header text-center">
            <h2>Freelance Projects</h2>
         </div>
         <div class="row"></div>
         <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
               <div id="card" class="card">
                  <a href="http://mayraplusmario.com/" target="_blank">
                     <img src="/assets/mayraplusmario.png" alt="" style="width:100%; height:195px;">
                  </a>
                  <div class="container-fluid">
                     <h4><b>Mayra + Mario</b></h4>
                     <p>This web application contains details about an important event, it allows users to RSVP to the event as well as leave a comment on the message board. Admin has access to guests who have RSVP'd via login.</p>
                     <hr>
                     <p>Technologies used: Ruby, Rails, PostgreSQL, HTML, CSS, Git, Github, JavaScript, Bootstrap,AWS EC2</p>
                     <a href="http://mayraplusmario.com/" class="btn btn-success" target="_blank">Live Site</a>
                     <a href="https://github.com/dpm530/mayra_plus_mario.git" class="btn btn-warning" target="_blank">Github</a>
                     <a class="btn btn-primary" data-toggle="modal" data-target="#mayra_plus_mario">Details</a>
                  </div><br>
                  <div class="modal fade" role="dialog" id="mayra_plus_mario">
                     <div class="modal-dialog">

                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Details</h4>
                           </div>
                           <div class="modal-body">
                              <ul>
                                 <li>RSVP functionality with validation.</li>
                                 <li>Guestbook section with validation.</li>
                                 <li>The bride and groom can login to a separate page to see everyone who has RSVP'd.</li>
                              </ul>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-4"></div>
         </div>
         <div class="row"></div>
         <br>
      </div>
      <!-- End Freelance Projects -->

   

      <!-- Personal Projects -->
      <div id="portfolio" class="container-fluid">
         <div class="page-header text-center">
            <h2>Personal Projects</h2>
         </div>
         <div class="row"></div>
         <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-sm-4">
               <div id="card" class="card">
                  <a href="https://github.com/dpm530/my_medical" target="_blank">
                     <img src="/assets/mymedical.png" alt="" style="width:100%; height:195px;">
                  </a>
                  <div class="container-fluid">
                     <h4><b>My Medical</b></h4>
                     <p>Web application used to store valuable personal or family health records. Once a user has created an account they can start creating records of doctor visits, list prescriptions, list next appointments as well as categorize the record by type of doctor. Users have the option to create different health record profiles.</p>
                     <hr>
                     <p>Technologies used: Python, Django, MySQL, HTML, CSS, JavaScript, Bootstrap, Git, Github, AWS EC2</p>
                     <a href="http://mymedical.site" class="btn btn-success" target="_blank">Live Site</a>
                     <a href="https://github.com/dpm530/my_medical" class="btn btn-warning" target="_blank">Github</a>
                     <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myMedical">Details</a>
                  </div><br>
                  <div class="modal fade" role="dialog" id="myMedical">
                     <div class="modal-dialog">

                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Details</h4>
                           </div>
                           <div class="modal-body">
                              <ul>
                                 <li></li>
                              </ul>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-sm-4">
               <div id="card" class="card">
                  <a href="https://github.com/dpm530/Ruby_Stack/tree/master/rails_II/belt_reviewer" target="_blank">
                     <img src="/assets/groupup.png" alt="Avatar" style="width:100%; height:195px;">
                  </a>
                  <div class="container-fluid">
                     <h4><b>Group Up</b></h4>
                     <p>This web application(Meetup clone) allows users to create an account with their information, create events of different categories that other people can attend as well as delete their own events. Users can also choose to RSVP to other events, each event has a discussion area where people attending can comment.</p>
                     <hr>
                     <p>Technologies used: Ruby, Rails, PostgreSQL, HTML, CSS, Git, Github, JavaScript, Bootstrap, Heroku</p>
                     <a href="https://guarded-anchorage-86188.herokuapp.com" class="btn btn-success" target="_blank">Live Site</a>
                     <a href="https://github.com/dpm530/group_up.git" class="btn btn-warning" target="_blank">Github</a>
                     <a class="btn btn-primary" data-toggle="modal" data-target="#groupUp">Details</a>
                  </div><br>
                  <div class="modal fade" role="dialog" id="groupUp">
                     <div class="modal-dialog">

                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Details</h4>
                           </div>
                           <div class="modal-body">
                              <ul>
                                 <li>Login and registration with validation.</li>
                                 <li>Logout feature.</li>
                                 <li>Users can edit their profile information.</li>
                                 <li>Logged in users can create and host an event. Hosts can edit and delete their own events.</li>
                                 <li>Events are validated before being created.</li>
                                 <li>Users can join other users events.</li>
                                 <li>Each event has a discussion area for users to leave comments.</li>
                              </ul>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-sm-4">
               <div id="card" class="card">
                  <a href="https://github.com/dpm530/Python_Stack/tree/master/Fullstack_Django/belt_reviewer" target="_blank">
                     <img src="/assets/jelp.png" alt="" style="width:100%; height:195px;">
                  </a>
                  <div class="container-fluid">
                     <h4><b>Jelp</b></h4>
                     <p>This web application(Yelp clone) allows users to create an account and then have the option to create their business page with useful information where other users can add a rating as well as a review. Businesses are categorized by the service they provide.</p>
                     <hr>
                     <p>Technologies used: Python, Django, MySQL, HTML, CSS, JavaScript, Bootstrap, Git, Github, AWS EC2</p>
                     <a href="http://jelp.website" class="btn btn-success" target="_blank">Live Site</a>
                     <a href="https://github.com/dpm530/jelp.git" class="btn btn-warning" target="_blank">Github</a>
                     <a class="btn btn-primary" data-toggle="modal" data-target="#greatReads">Details</a>
                  </div><br>
                  <div class="modal fade" role="dialog" id="greatReads">
                     <div class="modal-dialog">

                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Details</h4>
                           </div>
                           <div class="modal-body">
                              <ul>
                                 <li>Login and registration with validation.</li>
                                 <li>Logout feature.</li>
                                 <li>Users can add a book title and review.</li>
                                 <li>Users can review other people's book posts.</li>
                                 <li>Users can access other user's profile to see their book posts.</li>
                              </ul>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
         </div>
         <div class="row"></div>
         <br>
      </div>
      <!-- End Personal Projects -->

      <br>

      <footer class="container-fluid text-center">
         <div class="row">
            <div class="col-sm-4">
               <p>Copyright &copy; 2018 Daniel Palacios</p>
            </div>
            <div class="col-sm-4">
               <a href="mailto:danielpalacios530@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
               <a href="https://www.linkedin.com/in/dpm530/"><i class="fa fa-linkedin-square fa-2x"></i></a>
               <a href="https://github.com/dpm530"><i class="fa fa-github fa-2x"></i></a>
               <!-- <a href="https://www.facebook.com/daniel.palacios.75685"><i class="fa fa-facebook fa-2x"></i></a> -->
            </div>
            <div class="col-sm-4">

            </div>
         </div>
      </footer>

   </body>
</html>
