<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Skills</title>
   </head>
   <body>
      <nav class="navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Daniel Palacios</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/">HOME</a></li>
               <li><a href="/about">ABOUT ME</a></li>
               <li><a href="/projects">PROJECTS</a></li>
               <li><a href="/skills">SKILLS</a></li>
               <li><a href="/contact">CONTACT ME</a></li>
            </ul>
         </div>
      </nav><br>
      <div class="container-fluid">
         <div class="panel panel-default">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#languages">Languages</a></li>
                  <li><a data-toggle="tab" href="#frameworks">Frameworks</a></li>
                  <li><a data-toggle="tab" href="#databases">Databases</a></li>
                  <li><a data-toggle="tab" href="#hosting">Hosting</a></li>
                  <li><a data-toggle="tab" href="#development_tools">Development Tools</a></li>
               </ul>
               <div class="tab-content">
                  <div id="languages" class="tab-pane fade in active">
                     <h1>Languages:</h1>
                     <div class="row">
                        <div class="col-sm-2">
                           <img src="/assets/ruby.jpg" class="media-object">
                           <h3>Ruby</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/python.jpg" class="media-object">
                           <h3>Python</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/javascript.jpg" class="media-object">
                           <h3>Javascript</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/html.png" class="media-object">
                           <h3>HTML</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/css.png" class="media-object">
                           <h3>CSS</h3>
                        </div>
                     </div>
                  </div>
                  <div id="frameworks" class="tab-pane fade">
                     <h1>Frameworks:</h1>
                     <div class="row">
                        <div class="col-sm-2">
                           <img src="/assets/angular.png" class="media-object">
                           <h3>Angular</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/rails.png" class="media-object">
                           <h3>Rails</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/django.png" class="media-object">
                           <h3>Django</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/flask.png" class="media-object">
                           <h3>Flask</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/bootstrap.png" class="media-object">
                           <h3>Bootstrap</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/node.png" class="media-object">
                           <h3>Node.js</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/express.png" class="media-object">
                           <h3>Express.js</h3>
                        </div>
                     </div>
                  </div>
                  <div id="databases" class="tab-pane fade">
                     <h1>Databases:</h1>
                     <div class="row">
                        <div class="col-sm-2">
                           <img src="/assets/sqlite.jpg" class="media-object">
                           <h3>SQLite</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/mysql.jpg" class="media-object">
                           <h3>MySQL</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/postgresql.png" class="media-object">
                           <h3>PostgreSQL</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/mongodb.jpg" class="media-object">
                           <h3>MongoDB</h3>
                        </div>
                     </div>
                  </div>
                  <div id="hosting" class="tab-pane fade">
                     <h1>Hosting:</h1>
                     <div class="row">
                        <div class="col-sm-2">
                           <img src="/assets/aws.png" class="media-object">
                           <h3>AWS</h3>
                        </div>
                        <div class="col-sm-2">
                           <img src="/assets/heroku.png" class="media-object">
                           <h3>Heroku</h3>
                        </div>
                     </div>
                  </div>
                  <div id="development_tools" class="tab-pane fade">
                     <h1>Development Tools:</h1>
                     <ul class="list group">
                        <li class="list-group-item">Git</li>
                        <li class="list-group-item">Github/Gitlab</li>
                        <li class="list-group-item">Command Line</li>
                        <li class="list-group-item">MAMP</li>
                        <li class="list-group-item">Vagrant</li>
                        <li class="list-group-item">Postman</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <p>Footer</p>
      </footer>
   </body>
</html>
