<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Skills</title>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/"><i id="navSymbol" class="fa fa-code"></i> Daniel Palacios</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/portfolio">PORTFOLIO</a></li>
                  <li><a href="/skills">SKILLS</a></li>
                  <li><a href="/contact">CONTACT</a></li>
               </ul>
            </div>
         </div>
      </nav>

      <div id="skills" class="container">
         <div class="page-header text-center">
            <h2>Skills</h2>
         </div>
         <div class="container text-center">
            <div class="row"><br>
               <div class="col-sm-3">
                  <img src="/assets/python.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/ruby.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/javascript.jpg" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/html.png" alt="">
               </div>
            </div>
            <div class="row"><br>
               <div class="col-md-3">
                  <img src="/assets/css.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/bootstrap.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/jquery.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/rails.png" alt="">
               </div>
            </div>
            <div class="row"><br>
               <div class="col-md-3">
                  <img src="/assets/node.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/django.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/sqlite.jpg" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/mysql.jpg" alt="">
               </div>
            </div>
            <div class="row"><br>
               <div class="col-md-3">
                  <img src="/assets/postgresql.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/aws.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/heroku.png" alt="">
               </div>
               <div class="col-md-3">
                  <img src="/assets/git.png" alt="">
               </div>
            </div>
            <div class="row"><br>
               <div class="col-md-3">
                  <img src="/assets/github.svg" alt="">
               </div>
            </div>
         </div>
      </div><br>
      <footer class="container-fluid text-center">
         <div class="row">
            <div class="col-sm-4">
               <p>Copyright &copy; 2018 Daniel Palacios</p>
            </div>
            <div class="col-sm-4">
               <a href="mailto:danielpalacios530@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
               <a href="https://www.linkedin.com/in/dpm530/"><i class="fa fa-linkedin-square fa-2x"></i></a>
               <a href="https://github.com/dpm530"><i class="fa fa-github fa-2x"></i></a>
               <!-- <a href="https://www.facebook.com/daniel.palacios.75685"><i class="fa fa-facebook fa-2x"></i></a> -->
            </div>
            <div class="col-sm-4">

            </div>
         </div>
      </footer>
   </body>
</html>
