<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Skills</title>
   </head>
   <body>
      <nav class="navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Daniel Palacios</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/">HOME</a></li>
               <li><a href="/about">ABOUT ME</a></li>
               <li><a href="/projects">PROJECTS</a></li>
               <li><a href="/skills">SKILLS</a></li>
               <li><a href="/contact">CONTACT ME</a></li>
            </ul>
         </div>
      </nav><br>
      <div class="container-fluid">
         <div class="panel panel-default">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#languages">Languages</a></li>
                  <li><a data-toggle="tab" href="#frameworks">Frameworks</a></li>
                  <li><a data-toggle="tab" href="#databases">Databases</a></li>
                  <li><a data-toggle="tab" href="#hosting">Hosting</a></li>
               </ul>
               <div class="tab-content">
                  <div id="languages" class="tab-pane fade in active">
                     <h1>Languages:</h1>
                  </div>
                  <div id="frameworks" class="tab-pane fade">
                     <h1>Frameworks:</h1>
                  </div>
                  <div id="databases" class="tab-pane fade">
                     <h1>Databases:</h1>
                  </div>
                  <div id="hosting" class="tab-pane fade">
                     <h1>Hosting:</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <p>Footer</p>
      </footer>
   </body>
</html>
