html,body{
   height: 100%;
}
#indexBackground{
   background-image: url("/assets/indexPage.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-left: 0px;
   padding-right: 0px;
   height: 100%;
   width:100%;
}
nav.navbar{
   border-radius: 0px;
   letter-spacing: 5px;
}
#welcome{
   color: white;
   font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
   /* background:rgba(0,0,0,0.7); */
   padding-bottom: 20px;
   max-width: 470px;
   /* font-weight: 350; */
   border-radius: 5px;
   margin-top: 65px;
   margin-bottom: 50px;
   text-shadow: 2px 2px 5px #000000;
}
#welcome h1{
   font-size: 6.0rem;
   font-weight: bold;
   color: white;
   text-shadow: 2px 2px 5px #000000;
}
#welcome p{
   font-size: 25px;
}
#about .row{
   /* background-color: #eee; */
   padding: 10px;
   border-radius: 5px;
}
#about img{
   width:75%;
   height:auto;
   border-radius: 50%;
}
#about .col-sm-6 p{
   text-align: justify;
   font-size: 17px;
}
#projects .row{
   /* background: #eee; */
   padding:15px;
}
/* div.container-fluid.text-center{
   padding-bottom: 20px;
} */
#skills img{
   width: 125px;
   height: 125px;
}

#indexFooter{
   background:rgba(0,0,0,0);
}
#indexFooter a{
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   color: white;
}
.tab-content .container{
   padding-left: 30px;
   padding-bottom: 15px;
}
#contact .row p{
   font-size: 19px;
}
#contact .row a{
   font-size: 19px;
}
footer{
   background-color: #222222;
   padding: 5px;
   color: #FFFFFF;
   border-radius: 0px;
}
footer p{
   margin: 5px 2px;
   color: #7b7b7b;
}
footer i{
   /* padding: 5px; */
   font-size: 15px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   color: white;
}

@media screen and (max-width: 600px) {
   #welcome {
      margin-top: 0px;
      margin-bottom:0px;
   }
   #projects .container .row{
      margin-bottom: 100px;
   }
}
