nav .container-fluid{
   background-color: #1b1b1b;
}
nav a{
   color: #FFFFFF;
}
footer{
   background-color: #222222;
   padding: 25px;
}
footer p{
   color: #FFFFFF;
}
div.jumbotron{
   background-image: url("/assets/illimani.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
