HTML, body{
   height:100%;
}
/* nav .container-fluid{
   background-color: #1b1b1b;
   height: 55px;
} */
#indexBackground{
   background-image: url("/assets/indexPage.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
#indexNav{
   background:rgba(0,0,0,0.7);
   border-radius: 0px;
   /* margin-bottom: -20px; */
}
nav.navbar{
   border-radius: 0px;
}
/* a.navbar-brand{
   color: #FFFFFF;
   font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
   font-weight: 600;
   font-size: 30px;
} */
/* nav ul a{
   color: rgba(255,255,255,0.85);
   padding: 0 0 3px 0;
   font-weight: 200;
   font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
   letter-spacing: 1px;
   border-radius: 0;
   border: 0;
   font-size: 15px;
   text-shadow: none;
   margin-bottom: 0;
   margin-top: 0;
} */
/* #indexPage{
   background-image: url("/assets/indexPage.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 550px;
} */
#welcome{
   color: white;
   font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
   /* background:rgba(0,0,0,0.7); */
   padding-bottom: 20px;
   max-width: 470px;
   /* font-weight: 350; */
   border-radius: 5px;
   margin-top: 65px;
   margin-bottom: 50px;
   font-size: 20px;
   text-shadow: 2px 2px 5px #000000;
}
#welcome h1{
   font-size: 6.0rem;
   font-weight: bold;
   color: white;
   text-shadow: 2px 2px 5px #000000;
}
#projects{
   padding-top:20px;
}
/* div.jumbotron h1,a{
   color: white;
   background:rgba(0,0,0,0.6);
   display: inline-block;
   padding: 10px;
   border-radius: 10px;
   font-weight: 400;
} */
/* div.jumbotron p{
   color: white;
   background:rgba(0,0,0,0.6);
   display: inline-block;
   padding: 10px;
   border-radius: 10px;
}   */

div.container-fluid.text-center{
   padding-bottom: 20px;
}
div.tab-content img{
   width: 60px;
   height: 60px;
}
/* #contact{
   width: 670px;
} */
footer{
   background-color: #222222;
   padding: 25px;
   color: #FFFFFF;
   border-radius: 0px;
}
#indexFooter{
   background:rgba(0,0,0,0);
}
#indexFooter a{
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   color: white;
}
#skillsFooter{
   margin-top: 70px;
}
footer i{
   padding: 5px;
   font-size: 15px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   color: white;
}
.tab-content .container{
   padding-left: 30px;
   padding-bottom: 15px;
}
